@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body {
        counter-reset: pregunta; /* Inicializa a 0 la variable pregunta */
        color: #333333;
        font-family: 'Droid Serif', sans-serif;
        counter-reset: pregunta;
        background-color: white;
        margin: 0;
}

.bloque {
	background-color: whitesmoke;
	border: 1px solid lightgray;
	margin: 10px 0 20px 0;
	padding: 10px;
	box-shadow: 6px 6px 3px slategray; /* margin-right, margin-top, difuminado, color*/
        position: relative;
}

.bloque:before {	/* Añadir el contador de pregunta al principio de cada bloque */
        counter-increment: pregunta;              
        content: "Pregunta " counter(pregunta);
}

section {
	counter-reset: pregunta;
	margin-top: 80px;
}

header {
	max-width: 1080px;
	width: 98%;
	text-align: center;
	margin: auto;
}

h1 {
	font-weight: bold;
	font-size: 36px;
}

nav ul li {
	list-style: none;
}

nav ul li a{
	text-decoration: none;
	color: cornflowerblue;
}

main {
	max-width: 1080px;
	width: 98%;
        margin: auto;
}

.pregunta {
	margin: 1ex 0 1ex 0;	
}

.idioma {
	font-style: italic;
}

footer {
	height: 50px;
	margin-top: 100px;
	background-color: steelblue;
	width: 100%;
	font-size: 80%;
	color: white;
        line-height: 50px;
        text-align: center;
}

div[data-valor="true"]:after {
    content: "Verdadero";
}

div[data-valor="false"]:after {
    content: "Falso";
}

.formulario ul {
    list-style: none;
    padding: 0px;
    margin: 30px 0 20px 0;
}

.formulario li {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.formulario ul:first-child {
    border-top: 1px solid #777;
}

.formulario ul:last-child {
    border-bottom: 1px solid #777;
}

.formulario label {
    display: inline-block;
    width: 15em;
}

.formulario input[type="text"], .formulario input[type="url"] {
    border: 1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 5px 8px #eee inset;
    border-radius: 2px;
}

/* Nuevos elementos añadidos con js*/
.borra {
    right: 2px;
    top: 1px;
    position: absolute;
    cursor: pointer;
}